<header>
	<a class="docTitle" href="/inicio">Recu<span>Engine</span> <div class="headerTitle">{{headerTitle}}</div></a>
	<div id="loggedUser" class="user">
		<span>{{user.firstname}} {{user.lastname}}</span>
		<div class="userMenu">
			<a class="userMenuSpan" href="/perfil">Perfil</a>
			<a class="userMenuSpan" href="/salir">Salir</a>
		</div>
	</div>
</header>